
<form (ngSubmit)="onSubmit()" [formGroup]="employeeForm">
    <div class="form-group">
      <input type="text" formControlName="name" placeholder="Name" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" formControlName="userName" placeholder="User Name" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" formControlName="emailId" placeholder="Email" class="form-control">
    </div>
    <div class="form-group" formArrayName="aliases">
      <div *ngFor="let address of aliases.controls; let i=index">
        <input type="text" class="form-control" placeholder="Alias name" [formControlName]="i">
      </div>
      <button class="btn btn-sm btn-secondary mt-1" (click)="addAliases()">Add aliasas</button>
    </div>  
  
    <button type="submit" [disabled]="!employeeForm.valid" class="btn btn-primary">Add</button>
  </form>