<table class="table">
    <tr>
      <th>ID</th>
      <th>Full Name</th>
      <th>User Name</th>
      <th>Aliases</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let e of employess;let i=index">
      <td>{{i+1}}</td>
      <td>{{e.name}}</td>
      <td>{{e.userName}}</td>
      <td>{{e.aliases}}</td>
      <td>{{e.emailId}}</td>
      <td>
        <button class="btn btn-sm btn-info mr-1" (click)="edit(i)">Edit</button>
        <button class="btn btn-sm btn-danger" (click)="delete(i)">Delete</button>
      </td>
    </tr>
  </table>

